name: CI

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 检出仓库
      uses: actions/checkout@v2
    - name: 赋予执行权限
        run: chmod +x ./start.sh
    - name: 运行脚本
        run: ./start.sh
